<?xml version="1.0"?>
<config>
    <modules>
        <Test_SalesThreshold>
            <version>0.1.1</version>
        </Test_SalesThreshold>
    </modules>
    <global>
        <models>
            <test_salesthreshold>
                <class>Test_SalesThreshold_Model</class>
                <resourceModel>test_salesthreshold_resource</resourceModel>
            </test_salesthreshold>
            <test_salesthreshold_resource>
                <class>Test_SalesThreshold_Model_Resource</class>
                <entities>
                    <postcode>
                        <table>test_postcode</table>
                    </postcode>
                    <manager>
                        <table>test_manager</table>
                    </manager>
                </entities>
            </test_salesthreshold_resource>
        </models>
        <blocks>
            <test_salesthreshold>
                <class>Test_SalesThreshold_Block</class>
            </test_salesthreshold>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Test_SalesThreshold_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <test_salesthreshold>
                <class>Test_SalesThreshold_Helper</class>
            </test_salesthreshold>
        </helpers>
        <resources>
            <test_salesthreshold_setup>
                <setup>
                    <module>Test_SalesThreshold</module>
                </setup>
            </test_salesthreshold_setup>
        </resources>
        <events>
            <sales_order_place_before>
                <observers>
                    <test_salesthreshold_sales_order_place_before>
                        <class>test_salesthreshold/observer</class>
                        <method>checkSalesThreshold</method>
                    </test_salesthreshold_sales_order_place_before>
                </observers>
            </sales_order_place_before>
        </events>
    </global>
    <default>
        <test_sales>
            <settings>
                <salesthreshold>300</salesthreshold>
            </settings>
        </test_sales>
    </default>
    <admin>
        <routers>
            <test_postcode>
                <use>admin</use>
                <args>
                    <frontName>test_postcode</frontName>
                    <module>Test_SalesThreshold_Adminhtml</module>
                </args>
            </test_postcode>
        </routers>
    </admin>
</config>