<?xml version="1.0"?>
<config>
    <sections>
        <test_sales translate="label" module="test_salesthreshold">
            <label>Test SalesThreshold</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Gemeral Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <salesthreshold translate="label,comment">
                            <label>Threshold</label>
                            <comment><![CDATA[Specify the threshold of the purchase, e.g. 300]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </salesthreshold>
                    </fields>
                </settings>
            </groups>
        </test_sales>
    </sections>
</config>
