<?xml version="1.0"?>
<config>
    <modules>
        <Test_FinalDate>
            <version>0.1.0</version>
        </Test_FinalDate>
    </modules>
    <global>
        <models>
            <test_finaldate>
                <class>Test_FinalDate_Model</class>
                <resourceModel>test_finaldate_resource</resourceModel>
            </test_finaldate>
            <test_finaldate_resource>
                <class>Test_FinalDate_Model_Resource</class>
            </test_finaldate_resource>
        </models>
        <helpers>
            <test_finaldate>
                <class>Test_FinalDate_Helper</class>
            </test_finaldate>
        </helpers>
        <resources>
            <test_finaldate_setup>
                <setup>
                    <module>Test_FinalDate</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </test_finaldate_setup>
        </resources>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Test_FinalDate_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>
